In [1]:
from IPython.display import IFrame  
wikiLink="https://en.wikipedia.org/wiki/List_of_countries_by_GDP_sector_composition" 
IFrame(wikiLink, width=900, height=500)

In [2]:
import pandas as pd

wikiTables=pd.read_html(wikiLink, # link
                        #header=0, # where is the header?
                        flavor='bs4', # helper to translate html
                        attrs={'class': 'wikitable sortable'}) # attributes to identify element(s)

In [3]:
wikiTables[0]

,Country/Economy,Total GDP (US$MM),Agricultural,Industrial,Service,Agricultural.1,Industrial.1,Service.1
0,World,127800000,6.4%,30.0%,63.6%,8179200,38340000,80514000
1,China,23210000,7.9%,40.5%,51.6%,1833590,9400050,11976360
2,European Union,20850111,1.6%,25.1%,70.9%,333600,5233350,14782650
3,United States,19490000,0.9%,19.1%,80.0%,175410,3722590,15592000
4,India,9474000,15.4%,23.0%,61.5%,1458996,2179020,5826510
...,...,...,...,...,...,...,...,...
217,Anguilla,175,3.0%,10.5%,86.4%,5,18,151
218,Montserrat,167,1.9%,7.8%,90.3%,3,13,151
219,Nauru,160,6.1%,33.0%,60.8%,10,53,97
220,Tuvalu,42,24.5%,5.6%,70.0%,10,2,29
221,Niue,10,23.5%,26.9%,49.5%,2,3,5

In [4]:
DF=wikiTables[0]

In [5]:
type(DF)

pandas.core.frame.DataFrame

In [6]:
#Making a copy

In [7]:
DFTest=DF.copy()

In [8]:
DFTest

,Country/Economy,Total GDP (US$MM),Agricultural,Industrial,Service,Agricultural.1,Industrial.1,Service.1
0,World,127800000,6.4%,30.0%,63.6%,8179200,38340000,80514000
1,China,23210000,7.9%,40.5%,51.6%,1833590,9400050,11976360
2,European Union,20850111,1.6%,25.1%,70.9%,333600,5233350,14782650
3,United States,19490000,0.9%,19.1%,80.0%,175410,3722590,15592000
4,India,9474000,15.4%,23.0%,61.5%,1458996,2179020,5826510
...,...,...,...,...,...,...,...,...
217,Anguilla,175,3.0%,10.5%,86.4%,5,18,151
218,Montserrat,167,1.9%,7.8%,90.3%,3,13,151
219,Nauru,160,6.1%,33.0%,60.8%,10,53,97
220,Tuvalu,42,24.5%,5.6%,70.0%,10,2,29
221,Niue,10,23.5%,26.9%,49.5%,2,3,5

In [9]:
#Renaming the columns:

In [10]:
DFTest.columns=['Country', 'TotalGDP', 'Agriculture%','Industry%', 'Service%', 'Agriculture$', 'Industry$', 'Service$']

In [11]:
DFTest.head()

,Country,TotalGDP,Agriculture%,Industry%,Service%,Agriculture$,Industry$,Service$
0,World,127800000,6.4%,30.0%,63.6%,8179200,38340000,80514000
1,China,23210000,7.9%,40.5%,51.6%,1833590,9400050,11976360
2,European Union,20850111,1.6%,25.1%,70.9%,333600,5233350,14782650
3,United States,19490000,0.9%,19.1%,80.0%,175410,3722590,15592000
4,India,9474000,15.4%,23.0%,61.5%,1458996,2179020,5826510

In [12]:
DFTest

,Country,TotalGDP,Agriculture%,Industry%,Service%,Agriculture$,Industry$,Service$
0,World,127800000,6.4%,30.0%,63.6%,8179200,38340000,80514000
1,China,23210000,7.9%,40.5%,51.6%,1833590,9400050,11976360
2,European Union,20850111,1.6%,25.1%,70.9%,333600,5233350,14782650
3,United States,19490000,0.9%,19.1%,80.0%,175410,3722590,15592000
4,India,9474000,15.4%,23.0%,61.5%,1458996,2179020,5826510
...,...,...,...,...,...,...,...,...
217,Anguilla,175,3.0%,10.5%,86.4%,5,18,151
218,Montserrat,167,1.9%,7.8%,90.3%,3,13,151
219,Nauru,160,6.1%,33.0%,60.8%,10,53,97
220,Tuvalu,42,24.5%,5.6%,70.0%,10,2,29
221,Niue,10,23.5%,26.9%,49.5%,2,3,5

In [13]:
DF.country[0]

AttributeError: 'DataFrame' object has no attribute 'country'

In [14]:
DFTest.country

AttributeError: 'DataFrame' object has no attribute 'country'

In [15]:
DFTest.country[0]

AttributeError: 'DataFrame' object has no attribute 'country'

In [16]:
DFTest

,Country,TotalGDP,Agriculture%,Industry%,Service%,Agriculture$,Industry$,Service$
0,World,127800000,6.4%,30.0%,63.6%,8179200,38340000,80514000
1,China,23210000,7.9%,40.5%,51.6%,1833590,9400050,11976360
2,European Union,20850111,1.6%,25.1%,70.9%,333600,5233350,14782650
3,United States,19490000,0.9%,19.1%,80.0%,175410,3722590,15592000
4,India,9474000,15.4%,23.0%,61.5%,1458996,2179020,5826510
...,...,...,...,...,...,...,...,...
217,Anguilla,175,3.0%,10.5%,86.4%,5,18,151
218,Montserrat,167,1.9%,7.8%,90.3%,3,13,151
219,Nauru,160,6.1%,33.0%,60.8%,10,53,97
220,Tuvalu,42,24.5%,5.6%,70.0%,10,2,29
221,Niue,10,23.5%,26.9%,49.5%,2,3,5

In [17]:
DFTest.Country[0]

'World'

In [18]:
DFTest.Country

0               World
1               China
2      European Union
3       United States
4               India
            ...
217          Anguilla
218        Montserrat
219             Nauru
220            Tuvalu
221              Niue
Name: Country, Length: 222, dtype: object

In [19]:
DF['Country']=DF.Country.str.strip()

AttributeError: 'DataFrame' object has no attribute 'Country'

In [20]:
DFTest['Country']=DF.Country.str.strip()

AttributeError: 'DataFrame' object has no attribute 'Country'

In [21]:
DFTest['Country']=DFTest.Country.str.strip()

In [22]:
byeSpaces= lambda COLUMN:COLUMN.str.strip()

DFTest.apply(byeSpaces)

AttributeError: Can only use .str accessor with string values!

In [23]:
DFTest

,Country,TotalGDP,Agriculture%,Industry%,Service%,Agriculture$,Industry$,Service$
0,World,127800000,6.4%,30.0%,63.6%,8179200,38340000,80514000
1,China,23210000,7.9%,40.5%,51.6%,1833590,9400050,11976360
2,European Union,20850111,1.6%,25.1%,70.9%,333600,5233350,14782650
3,United States,19490000,0.9%,19.1%,80.0%,175410,3722590,15592000
4,India,9474000,15.4%,23.0%,61.5%,1458996,2179020,5826510
...,...,...,...,...,...,...,...,...
217,Anguilla,175,3.0%,10.5%,86.4%,5,18,151
218,Montserrat,167,1.9%,7.8%,90.3%,3,13,151
219,Nauru,160,6.1%,33.0%,60.8%,10,53,97
220,Tuvalu,42,24.5%,5.6%,70.0%,10,2,29
221,Niue,10,23.5%,26.9%,49.5%,2,3,5

In [24]:
import re

In [25]:
WhenYouFind='\\s+|\\d+|\\[|\\]'
replaceWith=''

In [26]:
re.sub(WhenYouFind,replaceWith,DFTest)

TypeError: expected string or bytes-like object

In [27]:
[re.sub(WhenYouFind,replaceWith,aColumnName) for aColumnName in DFTest.columns]

['Country',
 'TotalGDP',
 'Agriculture%',
 'Industry%',
 'Service%',
 'Agriculture$',
 'Industry$',
 'Service$']

In [28]:
cleaner = lambda INPUT: re.sub(WhenYouFind,replaceWith,INPUT).lower()

In [29]:
[cleaner(TEXT) for TEXT in DFTest.columns]

['country',
 'totalgdp',
 'agriculture%',
 'industry%',
 'service%',
 'agriculture$',
 'industry$',
 'service$']

In [30]:
DFTest.columns.str.replace(WhenYouFind,replaceWith,regex=True).str.lower()

Index(['country', 'totalgdp', 'agriculture%', 'industry%', 'service%',
       'agriculture$', 'industry$', 'service$'],
      dtype='object')

In [31]:
DFTest.columns=DFTest.columns.str.replace(WhenYouFind,replaceWith,regex=True).str.lower()

In [32]:
DFTest

,country,totalgdp,agriculture%,industry%,service%,agriculture$,industry$,service$
0,World,127800000,6.4%,30.0%,63.6%,8179200,38340000,80514000
1,China,23210000,7.9%,40.5%,51.6%,1833590,9400050,11976360
2,European Union,20850111,1.6%,25.1%,70.9%,333600,5233350,14782650
3,United States,19490000,0.9%,19.1%,80.0%,175410,3722590,15592000
4,India,9474000,15.4%,23.0%,61.5%,1458996,2179020,5826510
...,...,...,...,...,...,...,...,...
217,Anguilla,175,3.0%,10.5%,86.4%,5,18,151
218,Montserrat,167,1.9%,7.8%,90.3%,3,13,151
219,Nauru,160,6.1%,33.0%,60.8%,10,53,97
220,Tuvalu,42,24.5%,5.6%,70.0%,10,2,29
221,Niue,10,23.5%,26.9%,49.5%,2,3,5

In [33]:
DFTest.country[0]

'World'

In [34]:
DFTest['country']=DFTest.country.str.strip()

In [35]:
byeSpaces= lambda COLUMN:COLUMN.str.strip()

DFTest.apply(byeSpaces)

AttributeError: Can only use .str accessor with string values!

In [36]:
DF=DFTest.copy()

In [37]:
DF

,country,totalgdp,agriculture%,industry%,service%,agriculture$,industry$,service$
0,World,127800000,6.4%,30.0%,63.6%,8179200,38340000,80514000
1,China,23210000,7.9%,40.5%,51.6%,1833590,9400050,11976360
2,European Union,20850111,1.6%,25.1%,70.9%,333600,5233350,14782650
3,United States,19490000,0.9%,19.1%,80.0%,175410,3722590,15592000
4,India,9474000,15.4%,23.0%,61.5%,1458996,2179020,5826510
...,...,...,...,...,...,...,...,...
217,Anguilla,175,3.0%,10.5%,86.4%,5,18,151
218,Montserrat,167,1.9%,7.8%,90.3%,3,13,151
219,Nauru,160,6.1%,33.0%,60.8%,10,53,97
220,Tuvalu,42,24.5%,5.6%,70.0%,10,2,29
221,Niue,10,23.5%,26.9%,49.5%,2,3,5

In [38]:
DF.columns

Index(['country', 'totalgdp', 'agriculture%', 'industry%', 'service%',
       'agriculture$', 'industry$', 'service$'],
      dtype='object')

In [39]:
byeSpaces= lambda column:column.str.strip()

DF.apply(byeSpaces)

AttributeError: Can only use .str accessor with string values!

In [40]:
DF.dtypes

country         object
totalgdp         int64
agriculture%    object
industry%       object
service%        object
agriculture$     int64
industry$        int64
service$         int64
dtype: object

In [41]:
DF

,country,totalgdp,agriculture%,industry%,service%,agriculture$,industry$,service$
0,World,127800000,6.4%,30.0%,63.6%,8179200,38340000,80514000
1,China,23210000,7.9%,40.5%,51.6%,1833590,9400050,11976360
2,European Union,20850111,1.6%,25.1%,70.9%,333600,5233350,14782650
3,United States,19490000,0.9%,19.1%,80.0%,175410,3722590,15592000
4,India,9474000,15.4%,23.0%,61.5%,1458996,2179020,5826510
...,...,...,...,...,...,...,...,...
217,Anguilla,175,3.0%,10.5%,86.4%,5,18,151
218,Montserrat,167,1.9%,7.8%,90.3%,3,13,151
219,Nauru,160,6.1%,33.0%,60.8%,10,53,97
220,Tuvalu,42,24.5%,5.6%,70.0%,10,2,29
221,Niue,10,23.5%,26.9%,49.5%,2,3,5

In [42]:
#I'll get rid of the first and the third (world and EU) rows.

In [43]:
whichToDrop=[0,2]

In [44]:
DF.drop(labels=DF.rows[whichToDrop],axis=1,inplace=True)

AttributeError: 'DataFrame' object has no attribute 'rows'

In [45]:
DF.columns

Index(['country', 'totalgdp', 'agriculture%', 'industry%', 'service%',
       'agriculture$', 'industry$', 'service$'],
      dtype='object')

In [46]:
DF.drop(labels=DF.index[whichToDrop],axis=2,inplace=True)

KeyError: '[0 2] not found in axis'

In [47]:
DF.drop(labels=DF.index[whichToDrop],axis=2,inplace=True)

ValueError: No axis named 2 for object type DataFrame

In [48]:
DF.drop(labels=DF.index[whichToDrop],axis=0,inplace=True)

In [49]:
DF

,country,totalgdp,agriculture%,industry%,service%,agriculture$,industry$,service$
1,China,23210000,7.9%,40.5%,51.6%,1833590,9400050,11976360
3,United States,19490000,0.9%,19.1%,80.0%,175410,3722590,15592000
4,India,9474000,15.4%,23.0%,61.5%,1458996,2179020,5826510
5,Japan,5443000,1.1%,30.1%,68.7%,59873,1638343,3739341
6,Germany,4199000,0.7%,30.7%,68.6%,29393,1289093,2880514
...,...,...,...,...,...,...,...,...
217,Anguilla,175,3.0%,10.5%,86.4%,5,18,151
218,Montserrat,167,1.9%,7.8%,90.3%,3,13,151
219,Nauru,160,6.1%,33.0%,60.8%,10,53,97
220,Tuvalu,42,24.5%,5.6%,70.0%,10,2,29
221,Niue,10,23.5%,26.9%,49.5%,2,3,5

In [50]:
DF.reset_index(drop=True,inplace=True)

In [51]:
DF

,country,totalgdp,agriculture%,industry%,service%,agriculture$,industry$,service$
0,China,23210000,7.9%,40.5%,51.6%,1833590,9400050,11976360
1,United States,19490000,0.9%,19.1%,80.0%,175410,3722590,15592000
2,India,9474000,15.4%,23.0%,61.5%,1458996,2179020,5826510
3,Japan,5443000,1.1%,30.1%,68.7%,59873,1638343,3739341
4,Germany,4199000,0.7%,30.7%,68.6%,29393,1289093,2880514
...,...,...,...,...,...,...,...,...
215,Anguilla,175,3.0%,10.5%,86.4%,5,18,151
216,Montserrat,167,1.9%,7.8%,90.3%,3,13,151
217,Nauru,160,6.1%,33.0%,60.8%,10,53,97
218,Tuvalu,42,24.5%,5.6%,70.0%,10,2,29
219,Niue,10,23.5%,26.9%,49.5%,2,3,5

In [52]:
#Save it as CSV

In [53]:
#but first rename it:

In [54]:
DataGDP=DF.copy()

In [55]:
DataGDP

,country,totalgdp,agriculture%,industry%,service%,agriculture$,industry$,service$
0,China,23210000,7.9%,40.5%,51.6%,1833590,9400050,11976360
1,United States,19490000,0.9%,19.1%,80.0%,175410,3722590,15592000
2,India,9474000,15.4%,23.0%,61.5%,1458996,2179020,5826510
3,Japan,5443000,1.1%,30.1%,68.7%,59873,1638343,3739341
4,Germany,4199000,0.7%,30.7%,68.6%,29393,1289093,2880514
...,...,...,...,...,...,...,...,...
215,Anguilla,175,3.0%,10.5%,86.4%,5,18,151
216,Montserrat,167,1.9%,7.8%,90.3%,3,13,151
217,Nauru,160,6.1%,33.0%,60.8%,10,53,97
218,Tuvalu,42,24.5%,5.6%,70.0%,10,2,29
219,Niue,10,23.5%,26.9%,49.5%,2,3,5

In [56]:
DataGDP.to_csv("DataGDP.csv",index=False)