In [2]:
import pandas as pd

In [3]:
# link to the data in CSV format
linkFinalData='https://github.com/dghnyldz/computational-thinking/raw/main/FinalData.csv'

# using 'read_csv' with a link
FinalData=pd.read_csv(linkFinalData)

In [4]:
FinalData1=FinalData.copy()

In [5]:
WhenYouFind='\\%'
replaceWith=''

In [6]:
import re

In [7]:
FinalData1.columns.str.replace(WhenYouFind,replaceWith,regex=True).str()

TypeError: 'StringMethods' object is not callable

In [8]:
FinalData

,Country,TotalGDPinMillions,Agriculture%,Industry%,Service%,Agriculture$,Industry$,Service$,InternetccTLD,ISO2,ISO3,CO2x1000,Population
0,China,23210000,7.9%,40.5%,51.6%,1833590,9400050,11976360,.cn,CN,CHN,2806634,1444216.107
1,United States,19490000,0.9%,19.1%,80.0%,175410,3722590,15592000,.us,US,USA,1432855,332915.073
2,India,9474000,15.4%,23.0%,61.5%,1458996,2179020,5826510,.in,IN,IND,610411,1393409.038
3,Japan,5443000,1.1%,30.1%,68.7%,59873,1638343,3739341,.jp,JP,JPN,331074,126050.804
4,Germany,4199000,0.7%,30.7%,68.6%,29393,1289093,2880514,.de,DE,DEU,196314,83900.473
...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,Anguilla,175,3.0%,10.5%,86.4%,5,18,151,.ai,AI,AIA,39,15.117
201,Montserrat,167,1.9%,7.8%,90.3%,3,13,151,.ms,MS,MSR,13,4.977
202,Nauru,160,6.1%,33.0%,60.8%,10,53,97,.nr,NR,NRU,13,10.876
203,Tuvalu,42,24.5%,5.6%,70.0%,10,2,29,.tv,TV,TUV,3,11.931
204,Niue,10,23.5%,26.9%,49.5%,2,3,5,.nu,NU,NIU,3,1.619

In [9]:
describe

NameError: name 'describe' is not defined

In [10]:
describe(FinalData)

NameError: name 'describe' is not defined

In [11]:
info()

NameError: name 'info' is not defined

In [12]:
FinalData.describe()

,TotalGDPinMillions,Agriculture$,Industry$,Service$,CO2x1000,Population
count,2.050000e+02,2.050000e+02,2.050000e+02,2.050000e+02,2.050000e+02,2.050000e+02
mean,6.104057e+05,3.787367e+04,1.816862e+05,3.901712e+05,4.449892e+04,3.761999e+04
std,2.303504e+06,1.688836e+05,7.479346e+05,1.495049e+06,2.271895e+05,1.451708e+05
min,1.000000e+01,0.000000e+00,0.000000e+00,5.000000e+00,3.000000e+00,1.619000e+00
25%,8.629000e+03,4.560000e+02,1.762000e+03,5.519000e+03,3.280000e+02,8.884510e+02
50%,6.197000e+04,5.170000e+03,1.465400e+04,3.085600e+04,2.415000e+03,6.958532e+03
75%,3.171000e+05,1.793500e+04,1.057060e+05,2.181520e+05,1.632500e+04,2.578822e+04
max,2.321000e+07,1.833590e+06,9.400050e+06,1.559200e+07,2.806634e+06,1.444216e+06

In [13]:
FinalData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country             205 non-null    object
 1   TotalGDPinMillions  205 non-null    int64
 2   Agriculture%        205 non-null    object
 3   Industry%           205 non-null    object
 4   Service%            205 non-null    object
 5   Agriculture$        205 non-null    int64
 6   Industry$           205 non-null    int64
 7   Service$            205 non-null    int64
 8   InternetccTLD       205 non-null    object
 9   ISO2                204 non-null    object
 10  ISO3                205 non-null    object
 11  CO2x1000            205 non-null    int64
 12  Population          205 non-null    float64
dtypes: float64(1), int64(5), object(7)
memory usage: 20.9+ KB

In [14]:
FinalData.value_counts()

Country        TotalGDPinMillions  Agriculture%  Industry%  Service%  Agriculture$  Industry$  Service$  InternetccTLD  ISO2  ISO3  CO2x1000  Population
Afghanistan    69450               23.0%         21.1%      55.9%     15974         14654      38823     .af            AF    AFG   2675      39835.428     1
Pakistan       1061000             24.4%         19.1%      56.5%     258884        202651     599465    .pk            PK    PAK   45350     225199.937    1
Nepal          79190               27.0%         13.5%      59.5%     21381         10691      47118     .np            NP    NPL   2190      29674.920     1
Netherlands    924400              1.6%          17.9%      70.2%     14790         165468     648929    .nl            NL    NLD   45624     17173.099     1
New Caledonia  11110               1.4%          26.4%      72.1%     156           2933       8010      .nc            NC    NCL   1170      288.218       1
                                                                                                                                                           ..
Gambia, The    5556                20.4%         14.2%      65.4%     1133          789        3634      .gm            GM    GMB   140       2486.945      1
Georgia        39850               8.2%          23.7%      67.9%     3268          9444       27058     .ge            GE    GEO   2451      3979.765      1
Germany        4199000             0.7%          30.7%      68.6%     29393         1289093    2880514   .de            DE    DEU   196314    83900.473     1
Ghana          134000              18.3%         24.5%      57.2%     24522         32830      76648     .gh            GH    GHA   3945      31732.129     1
Zimbabwe       34270               12.0%         22.2%      65.8%     4112          7608       22550     .zw            ZW    ZWE   3278      15092.171     1
Length: 204, dtype: int64

In [15]:
FinalData[Agriculture%].value_counts()

SyntaxError: invalid syntax (Temp/ipykernel_23352/1236007154.py, line 1)

In [16]:
FinalData[Agriculture].value_counts()

NameError: name 'Agriculture' is not defined

In [17]:
FinalData[2].value_counts()

KeyError: 2

In [18]:
FinalData.Agriculture%

SyntaxError: invalid syntax (Temp/ipykernel_23352/2279265529.py, line 1)

In [19]:
FinalData[2]

KeyError: 2

In [20]:
FinalData.column[2]

AttributeError: 'DataFrame' object has no attribute 'column'

In [21]:
FinalData1=FinalData.copy()

In [22]:
FinalData1

,Country,TotalGDPinMillions,Agriculture%,Industry%,Service%,Agriculture$,Industry$,Service$,InternetccTLD,ISO2,ISO3,CO2x1000,Population
0,China,23210000,7.9%,40.5%,51.6%,1833590,9400050,11976360,.cn,CN,CHN,2806634,1444216.107
1,United States,19490000,0.9%,19.1%,80.0%,175410,3722590,15592000,.us,US,USA,1432855,332915.073
2,India,9474000,15.4%,23.0%,61.5%,1458996,2179020,5826510,.in,IN,IND,610411,1393409.038
3,Japan,5443000,1.1%,30.1%,68.7%,59873,1638343,3739341,.jp,JP,JPN,331074,126050.804
4,Germany,4199000,0.7%,30.7%,68.6%,29393,1289093,2880514,.de,DE,DEU,196314,83900.473
...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,Anguilla,175,3.0%,10.5%,86.4%,5,18,151,.ai,AI,AIA,39,15.117
201,Montserrat,167,1.9%,7.8%,90.3%,3,13,151,.ms,MS,MSR,13,4.977
202,Nauru,160,6.1%,33.0%,60.8%,10,53,97,.nr,NR,NRU,13,10.876
203,Tuvalu,42,24.5%,5.6%,70.0%,10,2,29,.tv,TV,TUV,3,11.931
204,Niue,10,23.5%,26.9%,49.5%,2,3,5,.nu,NU,NIU,3,1.619

In [23]:
# all columns
FinalData.columns=['Country', 'TotalGDPinMillions', 'AgriPercent','InduPercent', 'ServPercent', 'AgriDollar', 'InduDollar', 'ServDollar', 'InternetccTLD', 'ISO2', 'ISO3', 'CO2x1000', 'Population']
#see changes:
FinalData.head()

,Country,TotalGDPinMillions,AgriPercent,InduPercent,ServPercent,AgriDollar,InduDollar,ServDollar,InternetccTLD,ISO2,ISO3,CO2x1000,Population
0,China,23210000,7.9%,40.5%,51.6%,1833590,9400050,11976360,.cn,CN,CHN,2806634,1444216.107
1,United States,19490000,0.9%,19.1%,80.0%,175410,3722590,15592000,.us,US,USA,1432855,332915.073
2,India,9474000,15.4%,23.0%,61.5%,1458996,2179020,5826510,.in,IN,IND,610411,1393409.038
3,Japan,5443000,1.1%,30.1%,68.7%,59873,1638343,3739341,.jp,JP,JPN,331074,126050.804
4,Germany,4199000,0.7%,30.7%,68.6%,29393,1289093,2880514,.de,DE,DEU,196314,83900.473

In [24]:
FinalData.AgriPercent

0       7.9%
1       0.9%
2      15.4%
3       1.1%
4       0.7%
       ...
200     3.0%
201     1.9%
202     6.1%
203    24.5%
204    23.5%
Name: AgriPercent, Length: 205, dtype: object

In [25]:
FinalData.AgriPercent.value_counts()

0.7%     5
1.8%     5
2.4%     4
0.0%     3
6.8%     3
        ..
18.3%    1
10.1%    1
4.3%     1
23.4%    1
23.5%    1
Name: AgriPercent, Length: 142, dtype: int64

In [26]:
FinalData[['AgriPercent']] = FinalData[['AgriPercent']].apply(pd.to_numeric)

ValueError: Unable to parse string "7.9%" at position 0

In [27]:
FinalData

,Country,TotalGDPinMillions,AgriPercent,InduPercent,ServPercent,AgriDollar,InduDollar,ServDollar,InternetccTLD,ISO2,ISO3,CO2x1000,Population
0,China,23210000,7.9%,40.5%,51.6%,1833590,9400050,11976360,.cn,CN,CHN,2806634,1444216.107
1,United States,19490000,0.9%,19.1%,80.0%,175410,3722590,15592000,.us,US,USA,1432855,332915.073
2,India,9474000,15.4%,23.0%,61.5%,1458996,2179020,5826510,.in,IN,IND,610411,1393409.038
3,Japan,5443000,1.1%,30.1%,68.7%,59873,1638343,3739341,.jp,JP,JPN,331074,126050.804
4,Germany,4199000,0.7%,30.7%,68.6%,29393,1289093,2880514,.de,DE,DEU,196314,83900.473
...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,Anguilla,175,3.0%,10.5%,86.4%,5,18,151,.ai,AI,AIA,39,15.117
201,Montserrat,167,1.9%,7.8%,90.3%,3,13,151,.ms,MS,MSR,13,4.977
202,Nauru,160,6.1%,33.0%,60.8%,10,53,97,.nr,NR,NRU,13,10.876
203,Tuvalu,42,24.5%,5.6%,70.0%,10,2,29,.tv,TV,TUV,3,11.931
204,Niue,10,23.5%,26.9%,49.5%,2,3,5,.nu,NU,NIU,3,1.619

In [28]:
import re

In [29]:
FinalData.series=FinalData.series.str.replace("\\%","",regex=True)

AttributeError: 'DataFrame' object has no attribute 'series'

In [30]:
FinalData.Series=FinalData.Series.str.replace("\\%","",regex=True)

AttributeError: 'DataFrame' object has no attribute 'Series'

In [31]:
FinalData["AgriPercent"]= FinalData["AgriPercent"].replace("%", "")

In [32]:
FinalData

,Country,TotalGDPinMillions,AgriPercent,InduPercent,ServPercent,AgriDollar,InduDollar,ServDollar,InternetccTLD,ISO2,ISO3,CO2x1000,Population
0,China,23210000,7.9%,40.5%,51.6%,1833590,9400050,11976360,.cn,CN,CHN,2806634,1444216.107
1,United States,19490000,0.9%,19.1%,80.0%,175410,3722590,15592000,.us,US,USA,1432855,332915.073
2,India,9474000,15.4%,23.0%,61.5%,1458996,2179020,5826510,.in,IN,IND,610411,1393409.038
3,Japan,5443000,1.1%,30.1%,68.7%,59873,1638343,3739341,.jp,JP,JPN,331074,126050.804
4,Germany,4199000,0.7%,30.7%,68.6%,29393,1289093,2880514,.de,DE,DEU,196314,83900.473
...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,Anguilla,175,3.0%,10.5%,86.4%,5,18,151,.ai,AI,AIA,39,15.117
201,Montserrat,167,1.9%,7.8%,90.3%,3,13,151,.ms,MS,MSR,13,4.977
202,Nauru,160,6.1%,33.0%,60.8%,10,53,97,.nr,NR,NRU,13,10.876
203,Tuvalu,42,24.5%,5.6%,70.0%,10,2,29,.tv,TV,TUV,3,11.931
204,Niue,10,23.5%,26.9%,49.5%,2,3,5,.nu,NU,NIU,3,1.619

In [33]:
FinalData.dtypes

Country                object
TotalGDPinMillions      int64
AgriPercent            object
InduPercent            object
ServPercent            object
AgriDollar              int64
InduDollar              int64
ServDollar              int64
InternetccTLD          object
ISO2                   object
ISO3                   object
CO2x1000                int64
Population            float64
dtype: object

In [34]:
FinalData[['AgriPercent']] = FinalData[['AgriPercent']].apply(pd.to_numeric)

ValueError: Unable to parse string "7.9%" at position 0

In [35]:
FinalData.AgriPercent=FinalData.AgriPercent.str.replace("%","",regex=True)

In [36]:
FinalData

,Country,TotalGDPinMillions,AgriPercent,InduPercent,ServPercent,AgriDollar,InduDollar,ServDollar,InternetccTLD,ISO2,ISO3,CO2x1000,Population
0,China,23210000,7.9,40.5%,51.6%,1833590,9400050,11976360,.cn,CN,CHN,2806634,1444216.107
1,United States,19490000,0.9,19.1%,80.0%,175410,3722590,15592000,.us,US,USA,1432855,332915.073
2,India,9474000,15.4,23.0%,61.5%,1458996,2179020,5826510,.in,IN,IND,610411,1393409.038
3,Japan,5443000,1.1,30.1%,68.7%,59873,1638343,3739341,.jp,JP,JPN,331074,126050.804
4,Germany,4199000,0.7,30.7%,68.6%,29393,1289093,2880514,.de,DE,DEU,196314,83900.473
...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,Anguilla,175,3.0,10.5%,86.4%,5,18,151,.ai,AI,AIA,39,15.117
201,Montserrat,167,1.9,7.8%,90.3%,3,13,151,.ms,MS,MSR,13,4.977
202,Nauru,160,6.1,33.0%,60.8%,10,53,97,.nr,NR,NRU,13,10.876
203,Tuvalu,42,24.5,5.6%,70.0%,10,2,29,.tv,TV,TUV,3,11.931
204,Niue,10,23.5,26.9%,49.5%,2,3,5,.nu,NU,NIU,3,1.619

In [37]:
FinalData.InduPercent=FinalData.InduPercent.str.replace("%","",regex=True)

In [38]:
FinalData.ServPercent=FinalData.ServPercent.str.replace("%","",regex=True)

In [39]:
FinalData

,Country,TotalGDPinMillions,AgriPercent,InduPercent,ServPercent,AgriDollar,InduDollar,ServDollar,InternetccTLD,ISO2,ISO3,CO2x1000,Population
0,China,23210000,7.9,40.5,51.6,1833590,9400050,11976360,.cn,CN,CHN,2806634,1444216.107
1,United States,19490000,0.9,19.1,80.0,175410,3722590,15592000,.us,US,USA,1432855,332915.073
2,India,9474000,15.4,23.0,61.5,1458996,2179020,5826510,.in,IN,IND,610411,1393409.038
3,Japan,5443000,1.1,30.1,68.7,59873,1638343,3739341,.jp,JP,JPN,331074,126050.804
4,Germany,4199000,0.7,30.7,68.6,29393,1289093,2880514,.de,DE,DEU,196314,83900.473
...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,Anguilla,175,3.0,10.5,86.4,5,18,151,.ai,AI,AIA,39,15.117
201,Montserrat,167,1.9,7.8,90.3,3,13,151,.ms,MS,MSR,13,4.977
202,Nauru,160,6.1,33.0,60.8,10,53,97,.nr,NR,NRU,13,10.876
203,Tuvalu,42,24.5,5.6,70.0,10,2,29,.tv,TV,TUV,3,11.931
204,Niue,10,23.5,26.9,49.5,2,3,5,.nu,NU,NIU,3,1.619

In [40]:
FinalData.dtypes

Country                object
TotalGDPinMillions      int64
AgriPercent            object
InduPercent            object
ServPercent            object
AgriDollar              int64
InduDollar              int64
ServDollar              int64
InternetccTLD          object
ISO2                   object
ISO3                   object
CO2x1000                int64
Population            float64
dtype: object

In [41]:
FinalData[['AgriPercent']] = FinalData[['AgriPercent']].apply(pd.to_numeric)

In [42]:
FinalData.dtypes

Country                object
TotalGDPinMillions      int64
AgriPercent           float64
InduPercent            object
ServPercent            object
AgriDollar              int64
InduDollar              int64
ServDollar              int64
InternetccTLD          object
ISO2                   object
ISO3                   object
CO2x1000                int64
Population            float64
dtype: object

In [43]:
FinalData[['InduPercent']] = FinalData[['InduPercent']].apply(pd.to_numeric)

In [44]:
FinalData[['ServPercent']] = FinalData[['ServPercent']].apply(pd.to_numeric)

In [45]:
FinalData.dtypes

Country                object
TotalGDPinMillions      int64
AgriPercent           float64
InduPercent           float64
ServPercent           float64
AgriDollar              int64
InduDollar              int64
ServDollar              int64
InternetccTLD          object
ISO2                   object
ISO3                   object
CO2x1000                int64
Population            float64
dtype: object

In [46]:
from rpy2.robjects import pandas2ri
pandas2ri.activate()

from rpy2.robjects.packages import importr

base = importr('base')
base.saveRDS(FinalData,file="FinalData.RDS")

<rpy2.rinterface_lib.sexp.NULLType object at 0x000002CA76A2B800> [RTYPES.NILSXP]